body
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 85%;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-image: url("Background.jpg");
}

#page 
{
    width: 700px;
    height: auto;
    margin: 20px auto;
    background-color: White;
}
#main
{
    padding: 10px;
    margin-top: 0;
}
#header
{
    margin-bottom: 0;
}
#datalist
{
    width: 390px;
    float: left;
}
#shoutbox
{
    margin-left: 400px;
}

#ddlCategory
{
    width: 130px;
}
#ddlProducts
{
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    
}
.col1
{
    width: 100px;
}
.col2
{
    width: 120px;
}
.col3
{
    width: 80px;
    text-align: right;
}
.col4
{
    width: 80px;
    text-align: right;
}


#ShoutBoxPanel1
{
    height: 200px;
    border: solid 1px black;
    overflow: auto;
}
dl
{
    margin-top: 0;
}

#login 
{
    text-align:center;
}
#Login1 
{
    margin-left:auto;
    margin-right:auto;
}
.tabs li {
	list-style:none;
	display:inline;
}

.tabs a {
	padding:5px 10px;
	display:inline-block;
	background:#666;
	color:#fff;
	text-decoration:none;
}

.tabs a.active {
	background:#fff;
	color:#000;
}

